<section>
  <div class="container mw-100">
    <div class="card">
      <p-table
        #dt1
        [value]="products"
        dataKey="orderId"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [tableStyle]="{ 'min-width': '50rem' }"
        [filterDelay]="0"
        [globalFilterFields]="[
          'customerName',
          'customerPhone',
          'customerEmail'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-2">Manage Orders</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="
                  dt1.filterGlobal(extractInputValue($event), 'contains')
                "
                placeholder="Search..."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5rem"></th>
            <th pSortableColumn="orderId">
              Id <p-sortIcon field="orderId"></p-sortIcon>
            </th>
            <th pSortableColumn="customerName">
              Name <p-sortIcon field="customerName"></p-sortIcon>
            </th>
            <th pSortableColumn="customerPhone">
              Phone <p-sortIcon field="customerPhone"></p-sortIcon>
            </th>
            <th pSortableColumn="customerEmail">
              Email <p-sortIcon field="customerEmail"></p-sortIcon>
            </th>
            <th pSortableColumn="methodPayment">
              Payment <p-sortIcon field="methodPayment"></p-sortIcon>
            </th>
            <th pSortableColumn="statusOrder">
              Status <p-sortIcon field="statusOrder"></p-sortIcon>
            </th>
            <th pSortableColumn="totalAmount">
              Amount <p-sortIcon field="totalAmount"></p-sortIcon>
            </th>
            <th pSortableColumn="note">
              note <p-sortIcon field="note"></p-sortIcon>
            </th>
            <th pSortableColumn="addressReceive">
              addressReceive <p-sortIcon field="addressReceive"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
          <tr>
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="product"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>
            <td>
              {{ product.orderId }}
            </td>
            <td>{{ product.customerName }}</td>
            <td>{{ product.customerPhone }}</td>
            <td>{{ product.customerEmail }}</td>
            <td>
              {{ product.methodPayment === "1" ? "VnPay" : "Trả sau" }}
            </td>
            <td>
              {{
                product.statusOrder === "0"
                  ? "Đã thanh toán"
                  : "Chưa thanh toán"
              }}
            </td>
            <td>
              {{ product.totalAmount | currency : "VND" }}
            </td>
            <td>
              {{ product.note }}
            </td>
            <td>
              {{ product.addressReceive }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table
                  [value]="product.productOrderListDataModels"
                  dataKey="orderId"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 5rem"></th>
                      <th pSortableColumn="productName">
                        Product Name
                        <p-sortIcon field="productName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="quantity">
                        Quantity
                        <p-sortIcon field="quantity"></p-sortIcon>
                      </th>
                      <th pSortableColumn="price">
                        Price <p-sortIcon field="price"></p-sortIcon>
                      </th>
                      <th pSortableColumn="price">
                        Total <p-sortIcon field="price"></p-sortIcon>
                      </th></tr
                  ></ng-template>

                  <ng-template pTemplate="body" let-productOrderListDataModels>
                    <tr>
                      <th style="width: 5rem"></th>
                      <td>{{ productOrderListDataModels.productName }}</td>
                      <td>{{ productOrderListDataModels.quantity }}</td>
                      <td>
                        {{
                          productOrderListDataModels.price | currency : "VND"
                        }}
                      </td>
                      <td>
                        {{
                          productOrderListDataModels.quantity *
                            productOrderListDataModels.price | currency : "VND"
                        }}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        There are no order for this product yet.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
